<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>fredrikkihlman</id>
            <username>fredrikkihlman</username>
            <password>dfzaq3l4y6vxknltb22zymri64daz7eb7adpohcd6imfrwm3d4yq</password>
        </server>
    </servers>
</settings>